/* styles.css */

/* Global CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/background.avif') no-repeat center center fixed;
    background-size: cover;
}


/* Navbar */
.navbar-custom {
    background-color: white ;
}

.navbar-custom .navbar-nav .nav-link {
    color: black;
}

/* Footer */
.footer-custom {
    background-color: white;
    color: black ;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    height: 50px;
    display: flex; /* Center text horizontally */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}

.container-pic img {
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Add hover effect for skills */
.list-group-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.list-group-item {
    opacity: 0.9; 
    text-align: center; 
    width: auto !important;
    display: inline-block !important;
}

/* Make container smaller */
.container-skill {
    max-width: 900px; 
    margin: auto;
}

.navbar-toggler {
    background-color: #07407d; 
}

.navbar-toggler-icon {
    color: #fef8f8; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-r {
    float: center;
    justify-content: center;
    align-items: center;
    background: #0e0e0e78;
    color: #f8f9fa;
    padding-bottom: 50px;
}

#personal-info {
    padding-right: 300px;
    float: left ;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    color: #333;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
}

.social i {
    font-size: 25px;
    color: #343a40;
    padding:  10px;
}

.social i:hover {
    color: #007bff;
}

.form-group {
    margin-bottom: 20px;
}